@if (data) {
  <div class="asset__card">
    <div class="asset__icon">
      <img [ngSrc]="data.logoUrl" width="25" height="25" [alt]="data.assetId" />
    </div>
    <div class="asset__name">
      <span class="asset__name-full">
        {{ data.assetName }}
      </span>
      <span class="asset__name-short">
        {{ data.assetId | uppercase }}
      </span>
    </div>
    <div class="asset__value">
      {{ data.value | number: '2.2-2' }} {{ data.assetId | uppercase }}
    </div>
    <div class="fiat__value">
      {{ data.valueInFiat | currency: 'RUB' : 'symbol-narrow' }}
    </div>
    <div
      class="asset__rate"
      [ngClass]="{
        'asset__rate--success': data.rateChange > 0,
        'asset__rate--danger': data.rateChange < 0,
      }">
      <!-- TODO: Форматирование мутирует данные-->
      {{ data.rateChange / 100 | percent }}
    </div>
    <div class="asset__rate-change">
      <div class="asset__rate-change-icon">
        @if (data.rateChange > 0) {
          <img ngSrc="/icons/up.svg" width="15" height="15" alt="up" />
        } @else if (data.rateChange < 0) {
          <img ngSrc="/icons/down.svg" width="15" height="15" alt="up" />
        }
      </div>
    </div>
  </div>
}
