<div class="dashboard">
  <div class="dashboard__rates">
    <h2>Популярные монеты</h2>
    @for (item of rates(); track item.assetId) {
      <app-rate [data]="item" />
    } @empty {
      <p>Идет загрузка...</p>
    }
  </div>
  <h2>Мой баланс</h2>
  <div class="dashboard__balance">
    <div class="balance-card__top">
      <div class="balance-card__label">Общий баланс</div>

      <div class="balance-card__badges">
        <span class="balance-card__badge balance-card__badge--primary"></span>
      </div>
    </div>

    <div class="balance-card__amount">
      {{ balance()?.amount | number: '2.2-2' }} {{ balance()?.currency }}
    </div>

    <div class="balance-card__bottom">
      <div class="balance-card__owner-name">{{ user() }}</div>
    </div>
  </div>
  <div class="dashboard__assets">
    @for (assetItem of assets(); track assetItem.assetId) {
      <app-asset class="asset" [data]="assetItem" />
    } @empty {
      <li>Вы ещё не добавили свои криптоактивы</li>
    }
  </div>
</div>
