<div class="login__container">
  <h1 class="login__heading">Вход</h1>
  <div class="login__form">
    <app-input
      class="login__form--control"
      iconUrl="icons/letter.svg"
      [(ngModel)]="formValue.username" />

    <app-password-input
      class="login__form--control"
      iconUrl="icons/lock.svg"
      (controlValue)="onInputChange('password', $event)" />

    @if (error) {
      <div class="login__form--errors">{{ error }}</div>
    }

    <app-button (btnClick)="onLoginClick()">
      <span> Войти </span>
    </app-button>
  </div>
</div>
